<div >
  <img variant="top" src="../../assets/profile.png" />
  <h1 text-align="center">Nishant Kant Ojha</h1>
  <h2>⚙ Open Source Developer |🔥 DevOps Enthusiast |🎮 Game Addict</h2>
  <p>
    Hi 👋, I am Nishant. Student 👨‍🎓 at Seneca College 🏫. Currently pursuing
    Advance Diploma in Computer Programming and Analysis. I am currently in my
    Fourth Semester.I have a high interest in studying Cloud ☁ and DevOps ♾. I
    also love to play mobile Games during my free time.I also love to play
    mobile Games during my free time.
  </p>
  <button variant="primary" color="blue">LinkedIn</button>
</div>
