<mat-card>
  <mat-card-content *ngIf="success == false">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <h2>Register</h2>
      <mat-error class="alert alert-danger" *ngIf="warning">
        {{ warning }}</mat-error
      ><br />
      <mat-form-field class="full-width-input">
        <input
          matInput
          placeholder="User Name"
          name="username"
          required
          autofocus
          [(ngModel)]="user.userName"
          #name="ngModel"
        />
        <mat-error
          *ngIf="name.invalid && (name.dirty || name.touched)"
          class="alert alert-danger"
          >Please provide a valid user name</mat-error
        > </mat-form-field
      ><br />
      <mat-form-field class="full-width-input">
        <input
          matInput
          type="password"
          placeholder="Password"
          name="password"
          required
          [(ngModel)]="user.password"
          #password="ngModel"
        />
        <mat-error
          *ngIf="password.invalid && (password.dirty || password.touched)"
          class="alert alert-danger"
          >Please provide a valid password</mat-error
        > </mat-form-field
      ><br />
      <mat-form-field class="full-width-input">
        <input
          matInput
          type="password"
          placeholder="Password"
          name="password2"
          required
          [(ngModel)]="user.password2"
          #password2="ngModel"
        />
        <mat-error
          *ngIf="password2.invalid && (password2.dirty || password2.touched)"
          class="alert alert-danger"
          >Please provide a valid password</mat-error
        > </mat-form-field
      ><br />
      <button mat-raised-button color="primary" type="submit">
        <mat-icon>account_box</mat-icon>
        <span>&nbsp;&nbsp;&nbsp;Register</span>
      </button>
    </form>
  </mat-card-content>
  <mat-progress-bar
    *ngIf="loading"
    color="primary"
    mode="indeterminate"
  ></mat-progress-bar>

  <div *ngIf="success == true" class="success">
    Registration Successful. Proceed to<br /><br />
    <a mat-raised-button color="accent" routerLink="/login">
      <mat-icon>login</mat-icon>&nbsp;&nbsp;&nbsp;Login
    </a>
  </div>
</mat-card>
